Songs/Logs/
Songs/BuildPackage/
Songs/Library/
Songs/obj/
Songs/Packages/
SongsBiuld/Logs/
SongsBiuld/Library/
SongsBiuld/obj/
SongsBiuld/Packages/
Songs/Assembly-CSharp-Editor.csproj
Songs/Assembly-CSharp-firstpass.csproj
Songs/DOTween.Modules.csproj
Songs/DOTweenPro.EditorScripts.csproj
Songs/DOTweenPro.Scripts.csproj
Songs/ProjectSettings.zip
Songs/SCI-FI UI.unitypackage
Songs/Songs.sln
Songs/华兹华斯书房包.unitypackage
Songs/Assembly-CSharp.csproj
Songs/.vs/
SongsBiuld/.vs/SongsBiuld/v16/.suo
SongsBiuld/Assembly-CSharp.csproj
SongsBiuld/Assembly-CSharp-Editor.csproj
SongsBiuld/Assembly-CSharp-Editor-firstpass.csproj
SongsBiuld/Assembly-CSharp-firstpass.csproj
SongsBiuld/DOTween.Modules.csproj
SongsBiuld/DOTweenPro.EditorScripts.csproj
SongsBiuld/DOTweenPro.Scripts.csproj
SongsBiuld/ProjectSettings.zip
SongsBiuld/SongsBiuld.sln
Songs/Assets/StreamingAssets/WebGL/
SongsBiuld/AssetBundles/
SongsBiuld/Temp/
Songs/Temp/
